@import url(../home/home.css);

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

body {
    background-color: var(--bg-darker-purple);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("./assets/body-bg-4.jpg");
    overflow-x: hidden;
    background-position-x: center;
}

/*-----------------------------------*\
  #RECRUIT
\*-----------------------------------*/
  
.recruit { 
    padding-top: 14rem;
    text-align: center;
}
  
iframe {
    padding-top: 2rem;
    padding-bottom: .5rem;
}

.recruit iframe {
    width: 70%;
    height: auto;
}

/*-----------------------------------*\
  #ORIENTATION
\*-----------------------------------*/
  
.orientation { text-align: center; }
  
.video-desc .btn { margin: 2rem auto 0; }

/*-----------------------------------*\
  #CULTURE
\*-----------------------------------*/

.culture .p1,
.culture .p2,
.culture img {
    display: none;
}

.culture .image-wrapper { margin-bottom: -4rem; }

/*-----------------------------------*\
  #CONNECT
\*-----------------------------------*/

.connect { text-align: center; }
  
.contact-inputs { gap: 0; }
  
.contact-inputs .contact-content { clip-path: var(--clip-path-3); }
  
.contact-content {
    background-color: var(--bg-purple-alpha-30);
    padding: .75rem 1rem .25rem;
    margin-bottom: 1rem;
}
  
.contact-content textarea { resize: none; }
  
.contact-input {
    width: 100%;
    background-color: transparent;
    color: var(--text-white);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer-top .container {
    display: grid;
    gap: 35px;
    width: 50%;
}

.footer-brand { margin: 0; }

.footer-logo { 
    display: block;
    margin-top: -1rem;
    padding-bottom: 1rem;
}

.footer-text { display: none; }

.footer-wrapper { padding-bottom: 1.5rem; }

.footer-list { padding-bottom: 3rem; }

.input-field::placeholder { color: var(--text-gainsboro); }

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (max-width: 375px) {
    .contact-form {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 575px) {
    .join iframe {
        width: 480px;
        height: 360px;
    }

    .culture-desc .p2 {
        display: block;
        padding-top: 1.5rem;
    }

    .culture .image-wrapper { margin-bottom: -2rem; }

    .footer-top .container { 
        grid-template-columns: 1fr 1fr; 
        width: 100%;
    }

    .contact-inputs {
        display: flex;
        gap: 1rem;
    }

    .contact-form {
        padding-left: 0;
        padding-right: 0;
        width: 450px;
        margin: 0 auto;
    }

    .footer-brand { display: block; }

    .footer-text { 
        display: block;
        margin-block: 20px;
        margin-top: -.1rem;
    }
}

@media (min-width: 768px) {
    .intro {
        display: flex;
        justify-content: space-around;
    }

    .intro p { 
        max-width: 400px;
        padding-top: 3rem;
    }

    .culture .image-wrapper {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 0;
    }

    .culture .shield-logo {
        display: block;
        width: 220px;
    }

    .culture-desc .p1 {
        display: block;
        padding-top: 1.5rem;
    }

    .footer-top { padding-top: 8rem; }
}

@media (min-width: 992px) {
    .join iframe {
        width: 720px;
        height: 480px;
    }

    .intro iframe {
        width: 480px;
        height: 360px;
    }

    .intro p { padding-top: 10rem; }

    .culture .container { max-width: 960px; }

    .culture .shield-logo { width: 200px; }

    .culture .image-wrapper p { padding-top: 1.5rem; }

    .footer-top .container { grid-template-columns: repeat(4, 1fr); }
}