/*-----------------------------------*\
  #ROSTER
\*-----------------------------------*/
.card-image {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.teams {
  margin: 3rem auto;
  padding: 0 1.5rem;
}

.member-link {
  display: inline;
}

.roster span .btn {
  margin: 1.5rem auto 0;
}

.span1 {
  padding-top: 2rem;
}

.text-wrapper .social-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.teams.paintball {
  display: block;
}

.teams .text-wrapper,
.teams.paintball .text-wrapper {
  text-align: center;
  margin: 2rem auto;
}

.teams.paintball .video-wrapper {
  text-align: center;
}

/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/
@media screen and (max-width: 375px) {
  .teams.paintball iframe {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .roster-desc .span2 {
    display: block;
    padding-top: 0.5rem;
  }

  .teams .text-wrapper,
  .teams.paintball .text-wrapper {
    width: 95%;
  }
}

@media screen and (min-width: 992px) {
  .teams {
    display: flex;
    gap: 1.5rem;
    margin: 2rem auto 0;
    padding: 0 1.3rem;
  }

  .teams .image-wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  .fortnite .image-wrapper {
    order: 1;
  }

  .teams.paintball .text-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .fortnite .text-wrapper {
    padding-top: 6rem;
  }

  .apex .text-wrapper,
  .warzone .text-wrapper {
    padding-top: 3rem;
  }

  .teams.paintball .text-wrapper {
    padding-top: 0;
  }
}
