@import url(style.css);

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

body {
    background-color: var(--bg-darker-purple);
    background-image: url("../images/body-bg-4.jpg");
    overflow-x: hidden;
}

/*-----------------------------------*\
  #RECRUIT
\*-----------------------------------*/
  
.recruit { 
    padding-top: 10rem;
    padding-bottom: 0;
    text-align: center;
}
  
iframe {
    padding-top: 2rem;
    padding-bottom: .5rem;
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
  
.footer-brand { margin: 0; }

.footer-logo { display: block; }

.footer-text { display: none; }