@import url(style.css);

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

body {
  background-color: var(--bg-darker-purple);
  background-image: url("../images/body-bg-2.jpg");
  overflow-x: hidden;
}

/*-----------------------------------*\
  #SEASON
\*-----------------------------------*/

.season {
  padding-top: 9rem;
  padding-bottom: 0;
  text-align: center;
}

.gray-logo,
.p1, .p2 {
  display: none;
}

/*-----------------------------------*\
  #MUSIC
\*-----------------------------------*/

.music {
  padding-top: 4rem;
  padding-bottom: 0;
  text-align: center;
}

iframe {
  padding-bottom: .5rem;
}

/*-----------------------------------*\
  #CONNECT
\*-----------------------------------*/

.connect {
  padding-top: 4rem;
  padding-bottom: 0;
  text-align: center;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-link {
  width: 50px;
  height: 50px;
  background-color: var(--bg-purple-alpha-30);
  display: grid;
  place-items: center;
  clip-path: var(--clip-path-8);
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--bg-purple);
  transform: translateY(-2px);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (max-width: 375px) {
  iframe {
    width: 275px;
  }
}

@media (min-width: 575px) {
  .p2 {
    display: block;
    padding-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  /* .season {
    text-align: left;
  } */

  .season .image-wrapper {
    display: flex;
    gap: 1.5rem;
    margin-bottom: -3rem;
  }

  .season .gray-logo {
    display: block;
    width: 270px;
    margin-top: -5rem;
  }

  .p1 {
    display: block;
    padding-top: 1.5rem;
  }

  .music .container { 
    max-width: 720px; 
  }
}

@media (min-width: 992px) {
  .season .container { 
    max-width: 940px; 
  }

  .season .image-wrapper {
    margin-bottom: -5rem;
  }

  .season .gray-logo {
    width: 240px;
    margin-top: -8rem;
  }
}