@import url(../../home/home.css);

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

body {
    background-color: var(--bg-darker-purple);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../assets/body-bg-6.jpg");
    overflow-y: hidden;
}

main { min-height: 91vh; }