/*-----------------------------------*\
  #ELEMENTS
\*-----------------------------------*/

.natures .section-subtitle {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-align: left;
}

.team-nature {
  margin-bottom: 2rem;
}

.team-nature.spirit {
  margin-bottom: 0;
}

.team-nature span {
  display: inline;
  color: var(--text-champagne-pink);
  font-weight: var(--weight-semibold);
  text-transform: uppercase;
}

.natures .image-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .natures {
    max-width: 700px;
    margin: 0 auto;
  }

  .natures .top-half {
    display: flex;
    gap: 1.5rem;
  }

  .natures .text-wrapper {
    width: 100%;
  }

  .natures .image-wrapper {
    display: block;
    width: 90%;
    padding-top: 4rem;
  }

  .natures .card-image {
    max-height: 430px;
  }
}
